<div>
  <h2>Categories</h2>
  <form style="display:inline;" action="/users/change_default_budget">
    <button type="submit">Edit Default Budget</button>
  </form>
  <table>
    <tr>
      <th>Category Name</th>
      <th>Average Monthly Budget</th>
      <th>Average Monthly Bills Sum</th>
      <th>Difference of Averages</th>
      <th></th>
    </tr>
    <% @categories_bills.each do |category| %>
      <tr>
        <td><%= category[:name] %></td>
        <td><%= category[:budget] %></td>
        <td><%= category[:avg_bills] %></td>
        <td><%= category[:difference] %></td>
        <td>
          <form style="display:inline;" method="get" action="/categories/<%= category[:id] %>">
            <button type="submit">edit category</button>
          </form>
        </td>
      </tr>
    <% end %>
  </table>
</div>
