<div>
  <h2>Edit a bill:</h2>
  <form method="post" action="/bills/<%= @id %>/edit">
    <div>
      <label for="date">Date:</label>
      <input name="date" type="date" value="<%= @date %>">
    </div>
    <div>
      <label for="memo">Memo:</label>
      <input name="memo" id="memo" value="<%= @memo %>">
    </div>
    <div>
      <label for="category">Category:</label>
      <input list="categories" name="category" id="category" value="<%= @category %>">
    </div>
    <div>
      <label for="amount">Amount:</label>
      <input name="amount" value="<%= @amount %>">
    </div>
    <div>
      <label for="vendor">Vendor:</label>
      <input name="vendor" id="vendor" list="vendors" value="<%= @vendor %>">
    </div>
    <button type="submit">Edit Bill</button>
  </form>
</div>

<datalist id="categories">
  <% @categories.each do |category| %>
    <option value="<%= category[1] %>">
  <% end %>
</datalist>

<datalist id="vendors">
  <% @vendors.each do |vendor| %>
    <option value="<%= vendor[1] %>">
  <% end %>
</datalist>
