<div>
  <h2>Monthly Budgets</h2>
  <% @budget.first.each do |year, months| %>
  <%# <% sort_hash_on_key(@full_budget) do |year, months| %1> %>
    <h2><%= year %></h2>
    <p><%= show_yearly_summary(months) %></p>
    <%# <% sort_hash_on_key(months) do |month, values| %1> %>
    <% months.each do |month, month_values| %>
      <h3>
        <%= full_month_name(month, year) %>
        <form style="display:inline;" method="get" action="/budgets/<%= month_values[:budget_id] %>/edit">
          <button name="edit" type="submit">
            Edit Budget <%= full_month_name(month, year) %>
          </button>
        </form>
      </h3>
      <p><%= show_budget_balance(month_values) %></p>
    <% end %>
  <% end %>
</div>
